<nav class="navbar">
    <div class="nav-left">
        <img src="favicon.png" alt="Logo" class="nav-logo">
        <span class="studio-name">Vedic Asura</span>
    </div>
    <div class="nav-right">
        <div class="social-cluster">
            <a href="https://instagram.com/iamsudevmulloor" target="_blank" class="social-link">
                <img src="Instagram.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://youtube.com/@sudevmulloorart" target="_blank" class="social-link">
                <img src="YouTube.png" alt="YouTube" class="social-icon">
            </a>
        </div>
        <a href="index.html" class="nav-txt">Home</a>
        <a href="draegor.html" class="nav-txt">Projects</a>
        <a href="#about" class="nav-txt">About</a>
    </div>
</nav>
